.header_wrapper {
  width: 1920px;
  background-color: rgb(56, 56, 56);
  height: 80px;
  display: flex;
  align-items: center;
}

.header_container {
  margin: 0 4%;
  display: flex;
  align-items: center;
}
.links {
  display: flex;
  flex-wrap: wrap;
  gap: 95px;
}
.header_container>.links>.link {
  font-weight: 300;
  font-size: 25px;
  line-height: 29px;
  color: #FFFEFE;
}

.header_container>h2 {
  font-size: 25px;
  line-height: 29px;
  margin-right: 704px;
  color: #FFFEFE;
}

h2 {
  margin: 0;
}
