<div class="wrapper">
  <div class="container">
    <h2>My Resume</h2>
    <a class="link" routerLink="/main" routerLinkActive="active">Main</a>
    <a class="link" routerLink="/skills" routerLinkActive="active">Skills</a>
    <a class="link" routerLink="/portfolio" routerLinkActive="active">Portfolio</a>
    <a class="link" routerLink="/experience" routerLinkActive="active">Experience</a>
    <a class="link" routerLink="/info&facts" routerLinkActive="active">Info & Facts </a>
    <a class="link" routerLink="/contact" routerLinkActive="active">Contact</a>
  </div>
</div>
