.wrapper {
  background: #D4D4D4;;
  height: 95vh;
}
.container {
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -65px;
}
h2 {
  font-weight: 500;
  font-size: 35px;
  line-height: 48px;
  color: black;
}

.main {
  margin-top: 50px;
  width: 650px;
}
p {
  font-size: 25px;
  line-height: 30px;
}
