<div class="wrapper">
  <div class="container">
    <div class="title">
      <img src="../../../assets/icons/info.svg" alt="info&facts">
      <h2>Info & Facts </h2>
    </div>
    <div class="main">
      <p>
        Hi everyone! <br>
        I'm Andranik Mkoyan, I'm 21 years old, I live in Georgia.
        I'm student of Georgian Technical University. On the 3 of January I have started working
        In the Exadel Georgia, as Software Engineer. <br>
        My hobbies are sport and watching movies.
      </p>
    </div>
  </div>
</div>
