<div class="wrapper">
  <div class="container">
    <div class="right">
      <img src="../../../assets/me 1.png" alt="myImage">
      <p class="name">I’m Andranik Mkoyan</p>
      <div class="prof">
        <p>Software Engineer</p>
      </div>
    </div>

    <div class="left">
      <h1 class="text_hello">Hello !</h1>
      <p class="about_text">I’m 21, I live in Akhaltsikhe, Georgia. <br>
        I learn Front-End development since 2021 April.
      </p>
      <p class="skills_text">I got some skills in Photoshop, Figma,
         HTML, CSS, SCSS, JavaScript, TypeScript, Angular.
        </p>
    </div>
  </div>
</div>
